                                                
 h1,h2,h3 { margin-left: 10%; margin-right: 10%; text-align: center;

 }
 
 .destacado {
    background-color: yellow;
    font-style: italic;
    padding: 10px;
    font-size: 2.5em
}


#tituloPrincipal {
    font-size: 2.5em;
    color: darkblue;
    border: 1px solid black;
}

table {
      border-collapse: collapse;
      width: 100%;
    }

    td {
      border: 1px solid black;
      padding: 8px;
      background-color: #e5ff00;
      text-align: center;
      vertical-align: middle;
    }

    
    td:nth-child(1) { background-color: #ffb3ab; }
    td:nth-child(2) { background-color: #ffb3ab; }
    td:nth-child(3) { background-color: #ffb3ab; }

    
    tr:nth-child(even) td {
      background-color: #00ffb3;
    }

    img {
      max-width: 50px;
      height: auto;
    }

    a {
      color: rgb(78, 78, 255);
      text-decoration: none;
    }