 
 h1 { margin-left: 10%; margin-right: 10%; text-align: center;

 }
 
 .destacado {
    background-color: yellow;
    font-style: italic;
    padding: 10px;
    font-size: 2.5em
}


#tituloPrincipal {
    font-size: 2.5em;
    color: darkblue;
    border: 1px solid black;
}